<!DOCTYPE html >
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher carte pizza</title>
</head>
<body>
    <h1>Afficher la carte des pizzas</h1>

    <div>
        <h2>Titre de la pizza</h2>
        <div>
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
        </div>
        <div>
            <img th:src="@{/img/pizza1.jpg}" alt="">
        </div>
        <div>
            <h3>Prix</h3>
            <p>15€</p>

        </div>

    </div>
    
    
    
    
</body>
</html>