<!DOCTYPE html >
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <title>Modifier un produit</title>
</head>
<body>

    <div class="container-fluid">

        

            <header class="row">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Pizza Online</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active"  th:href="@{/carte}">Carte</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link"   th:href="@{/carte/ajouter}">Ajouter un produit</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" th:href="@{/commander}">Passer une commande</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">A VENIR</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">A VENIR</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav>
            </header>



        

        <main>
            <div class="row text-center mt-4">

                <h1>Modifier un produit</h1>

            </div>

            <div>

                <form th:action="@{/carte/modifier}" method="POST" th:object="${produit}" >
                    <div class="mb-3 visually-hidden">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" readonly class="form-control" id="id" th:field="*{id}" >
                        
                    </div> 
                   
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" th:field="*{nom}" >
                       
                    </div>  

                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control" id="desc" rows="4" th:field="*{description}" ></textarea>
                    </div> 
               
                                                                                                
                    <div class="mb-3">
                        <label for="prix" class="form-label">Prix</label>
                        <input type="number" step="0.01" class="form-control" id="prix" th:field="*{prix}" >
                        
                    </div>   

                    <div class="mb-3">
                        <label for="formFile" class="form-label">URL de l'image</label>
                        <input class="form-control" type="text" id="formFile" th:field="*{urlImage}">
                    </div>

                    <div class="mb-3">
                      <label for="type" class="form-label">Type</label>
                      <select class="form-control" id="type" th:field="*{typeProduit}" >
                        <option th:value="${type.id}" th:each="type:${@produitService.findAllTypeProduit()} " th:text="${type.libelle}"></option>
                      </select>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" th:text="Modifier"></button>
                    </div>
                                        
                </form>

            </div>

            
            

            

            
            

        

        </main>


        
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>